<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="dbadmin">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Circular UFRN - BUSE Project</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #bus-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="./public/dbadminController.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL BUSES WITH INITIALIZE FUNCTION -->
<body ng-controller="dbadminController">
    <div class="container">

        <!-- HEADER AND BUS COUNT -->
        <div class="jumbotron text-center">
            <h1>BUSE Database <span class="label label-info">{{ buses.length }}</span></h1>
        </div>

        <!-- TODO LIST -->
        <div id="bus-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <!-- LOOP OVER THE BUSES IN $scope.buses -->
                <div>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>Name</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Remove</th>
                        </tr>
                        <tr ng-repeat="bus in buses">
                            <td>{{bus.text}}</td>
                            <td>{{bus.lat}}</td>
                            <td>{{bus.lng}}</td>
                            <td>
                                <input type="checkbox" ng-click="deleteBus(bus._id)">
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

        <!-- FORM TO CREATE BUSES -->
        <div id="bus-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="Bus text" ng-model="formData.text">
                        <input type="text" class="form-control input-lg text-center" placeholder="Bus latitude" ng-model="formData.lat">
                        <input type="text" class="form-control input-lg text-center" placeholder="Bus longitude" ng-model="formData.lng">
                        <input type="text" class="form-control input-lg text-center" placeholder="Bus Accessibility" ng-model="formData.handicap">
                    </div>

                    <!-- createBus() WILL CREATE NEW Buses -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createBus()">Add</button>
                </form>
            </div>
        </div>

    </div>

</body>
</html>