<!-- index.html -->
<!doctype html>

<!-- ASSIGN ANGULAR MODULE -->
<html ng-app="emmiter">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Circular UFRN - BUSE Project</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="./public/emmiterController.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL BUSES WITH INITIALIZE FUNCTION -->
<body ng-controller="emmiterController">

    <div class="container">
        <div class="jumbotron text-center">
            <h1>BUSE Position Updater</h1>
        </div>

        <!-- FORM TO CREATE BUSES -->
        <div id="bus-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2>Update automagically. :)</h2>
                <form>
                    <div class="form-group">
                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="Bus _id" ng-model="formData._id">
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="autoUpdateBus()">
                            <a href="#" title="Rastrear-me"><img src="./public/img/target_30x30.png" alt="target" /></a>
                        </button>
                    </div>

                </form>
                

                <h2>Manual update. :(</h2>
                <form>
                    <div class="form-group">
                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="Bus _id" ng-model="formData._id">
                        <input type="text" class="form-control input-lg text-center" placeholder="Bus latitude" ng-model="formData.lat">
                        <input type="text" class="form-control input-lg text-center" placeholder="Bus longitude" ng-model="formData.lng">
                    </div>

                    <!-- updateBus() WILL CREATE NEW Buses -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="updateBus()">Update</button>
                </form>
            </div>
        </div>

    </div>

</body>
</html>